@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,span,td{padding:0; margin:0; font-size:12px; font-family:"微软雅黑";color:#000;} 
fieldset,img{ margin:0; padding:0;border: 0;} 
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; } 
ol,ul {list-style: none;} 
caption,th{text-align: left;} 
h1,h2,h3,h4,h5,h6 { font-size: 100%; } 
q:before,q:after{ content:;} 
abbr,acronym {border: 0;}
input,textarea,select,button,file{vertical-align:middle;}
input[type="text"]{
	height: 25px;width: 270px;
}
.clear{clear:both;height:1px; margin-bottom:-1px;*display:inline;overflow:hidden; }
.cls:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.cls{display: inline-block;}
.hand{cursor: pointer;}


html{overflow-x:hidden; overflow-y:auto;}
a{text-decoration:none; color:#3A00FF;}
a:hover{text-decoration:none; color:#6B0D0F;}

td{text-align:center;}


img{width:80px; height:80px;}

.top_left{text-align:left;}
.top_right{text-align:right;}
